/* ---Ogólne--- */
h1 {
    text-align: center;
    margin-top: 100px;
}

/* ---Główny box do wyświetlania pokemonów---*/
.whole {
    position: relative;
}

#whole__container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 70%;
    max-height: 660px;
    margin: 150px auto 100px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

#whole__container::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    width: 20px;
    background-color: #F5F5F5;
}

#whole__container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    border: 5px solid white;


}


#whole__container::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #b1b1b1;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 10px;
}

/*---Style pokemonów---*/


.pokemon {
    width: 250px;
    height: 150px;
    background-color: #f1f1f1;
    border-radius: 5px;
}


.pokemon:hover {
    background: rgb(169, 166, 166);
    cursor: pointer;
    color: white;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

/* ---Button ładowania elementów---*/

.btn {
    text-align: center;
    width: 150px;
    height: 50px;
    color: gray;
    border: 1px solid gray;
    position: absolute;
    bottom: 50px;
    right: 48%;
}

.btn:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.btn__load {
    text-align: center;
}

/* ---Wyszukiwarka pokemonów--- */
.whole__search {
    position: absolute;
    top: 50px;
    left: 35%;
    width: 30%;
    height: 50px;
    background-color: #c8c8c8;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.whole__search-item {
    width: 100%;
    border: none;
    padding-left: 40px;
    font-size: 1.1em;
    color: #a0a0a0;
    border-radius: 10px;
    font-weight: initial;
}

input:focus {
    outline: none;
}

.whole__search-item::placeholder {

    font-size: 0.9em;
    color: #c8c8c8;
    width: 100%;
}

.fa-magnifying-glass {
    margin: 25px 0 0 7px;
}

.whole__search-glass {
    font-size: 0.7em;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 40px;
    color: #a7a7a7;
    margin-left: 7px;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/172.png');
    cursor: pointer;
    width: 35%;
}

.hide {
    display: none;
}

.pox {
    background: url("pokemonki.png") 50% 20% no-repeat;
    background-size: 25%;
    width: 100%;
    height: 100%;
}

.whole__empty-search {
    width: 50%;
    margin: -400px 0 0 25%;
    text-align: center;
    line-height: 2rem;
    color: #585656;
    display: none;
    flex-direction: column;
}